.footer {
  background: $black;
  font-size: 16px;
  padding: 30px 0;
}

.copyright {
  float: left;
  color: #b5b5b5;

  i {
    padding-left: 5px;
  }

  a {
    color: $white;

    &:hover {
      color: $yellow;
    }

  }

}

@include media('<tablet') {

  .footer {
    padding: 20px 0;
  }

}

@include media('<phone') {

  .footer {
    padding: 10px 0;
  }

}

@include media('<xs-phone') {
  .footer {
    text-align: center;

    .copyright {
      float: none;
    }

    .soc-icons {
      float: none;
    }

  }

}