.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 31px;
  z-index: 2;
  background: #fff;
  @include animate(padding box-shadow);

  &.fixed-position  {
    box-shadow: 0 0 20px 0px rgba($black, 1);
    padding: 30px 0;
  }

}

@include media('<tablet') {

  .header {
    padding: 30px 0;
  }

}

@include media('<phone') {

  .header {
    padding: 20px 0;
  }

}