.carousel {

  &-buttons {
    @include inline-space-reset;
    @extend %listreset;
    text-align: center;

    li {
      @include inline-space(16px);
      display: inline-block;

      &:not(:last-child) {
        padding-right: 5px;
      }

      a {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $white;
        @include animate(transform background);

        &:hover {
          transform: scale(1.3);
          background: $white;
        }

      }

      &.active-button {

        a {
          background: $white;
          transform: scale(1.3);
        }

      }

    }

  }

}

.slide {
  padding: 0 0 20px;

  .image-block {

    &-wrapper {
      position: relative;

      img {
        position: relative;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: $yellow;
        position: absolute;
        left: 20px;
        top: 20px;
      }

    }

  }

  .quote-block {
    padding: 20px 50px 30px;
  }

}

@include media('<phone') {

  .slide {

    .quote-block {
      padding: 15px 0 20px;

      blockquote {
        padding: 0 0 0 40px;

        cite {
          padding-top: 20px;
        }

      }

    }

  }

}