.history-content {

  ul {
    @include inline-space-reset;
    @extend %listreset;
  }

  li {
    @include inline-space(1.5, 16px);
    position: relative;
    padding-left: 110px;
    color: $black;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .item-year {
      font-size: 21px;
      font-weight: 700;
      position: absolute;
      left: 0;
      bottom: 0;
      color: $black;
    }

  }

}

@include media('<tablet') {

  .history-content {

    li {
      padding-left: 80px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

    }

  }

}

@include media('<tablet') {

  .history-content {

    li {
      padding-left: 70px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

    }

  }

}