.section-publications {
  padding: 90px 0 104px;
  position: relative;
}

@include media('<tablet') {

  .section-publications {
    padding: 60px 0 20px;
  }

}

@include media('<phone') {

  .section-publications {
    padding: 30px 0 0;
  }

}