.section-form {
  padding: 90px 0 40px;
  position: relative;
}

@include media('<tablet') {

  .section-form {
    padding: 60px 0 30px;
  }

}

@include media('<phone') {

  .section-form {
    padding: 30px 0 15px;
  }

}