.soc-icons {
  @include inline-space-reset;
  @extend %listreset;
  float: right;

  li {
    @include inline-space(1, 16px);
    display: inline-block;
    
    &:not(:last-child) {
      padding-right: 5px;
    }

  }

  a {
    display: block;
    color: $white;
    width: 35px;
    height: 35px;
    @include animate(border-radius background color);
    position: relative;

    &:hover {
      border-radius: 50%;
      background: $yellow;
      color: $black;
    }

  }

  i {
    @include vertical-align-el;
  }

}