.tabs {

  &-items {
    @extend %listreset;

    li {
      border-bottom: 1px solid $yellow;
      position: relative;

      a {
        color: $white;
        display: block;
        padding: 16px 0 15px;
        font-weight: 700;

        &:hover {
          color: $yellow;
        }

        &:after {
          content: '';
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 11px;
          height: 3px;
          background: $white;
        }
  
        &:before {
          content: '';
          position: absolute;
          right: 19px;
          top: 50%;
          transform: translateY(-50%);
          height: 11px;
          width: 3px;
          background: $white;
        }

      }

    }

  }

  &-content {
    @include inline-space(14px);
    width: 40%;
    vertical-align: top;
    display: inline-block;
    color: $black;
    background: $yellow;
    line-height: 2.5;
    padding: 35px 40px 70px;
    border-radius: 3px;
    margin: 0 15px 30px;
  }

}