.btn {
  @include animate(color background border);
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  border: $btn-border;
  min-width: $btn-min-width;
  font-family: $btn-font-family;
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: top;

  &-primary {
    color: $btn-color;
    background-color: $btn-background-color;

    &:hover {
      background: $white;
      color: $yellow;
      border: 1px solid $yellow;
    }

  }

}


@include media('<tablet') {

  .btn {

    &-primary {
      padding: 15px;
    }

  }

}

@include media('<phone') {

  .btn {

    &-primary {
      min-width: 100%;
    }

  }

}