h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  color: $black;
  margin: 0 0 30px;
  font-weight: 400;

  &:last-child {
    margin: 0;
  }

}

h1, .h1 {
  font-size: $h1-font-size;
  color: $white;
  margin: 0 0 15px;
  letter-spacing: 5px;
}

h2, .h2 {
  font-size: $h2-font-size;
  color: $black;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

a {
  @include animate(color, .3s, linear);
  font-weight: $base-link-font-weight;
  color: $base-link-color;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }

}

p {
  margin: 0 0 30px;

  &:last-child {
    margin: 0;
  }

}

blockquote {
  margin: 0;
  padding: 0 40px;
  color: $white;
  line-height: 2.5;
  quotes: none;
  position: relative;

  i {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    opacity: 0.25;
  }

  cite {
    color: $white;
    padding-top: 30px;
    display: block;
    font-size: 21px;
    font-style: normal;
    line-height: 1;
  }

}